<!DOCTYPE html>
<html lang="en">
<head>
<body class="red">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>DATABASE</title>
</head>
<body id="top">
    <form class="white" action="/LogoutFunc" method="POST" style="display:block;">
        <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;">Logout</button>
    </form>
    <hr>
    <h1>Database of People</h1>
    <a href="/delete">Delete my account</a>
</body>

<script>
    alert(`The database is now holding sensitive info. Be careful who you share this data with.`);
</script>
</body>
</html>
