<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Diminished Rights Database</title>
</head class="red">
<body id="index-ejs" class="red">
    <% var num = "Err404";
    var first = false; %>

    <% if (userNum == 1) {
        first = true;
    } else if (userNum == 2) {
        num = "the 2nd load";
    } else if (userNum == 3) {
        num = "the 3rd load";
    } else if (userNum > 3 && userNum < 21) {
        num = `the ${userNum}th load`;
    } else {
        num = `too many loads (${userNum})`;
    } %>

    <a href="login.ejs">Login</a>
    <h1>Diminished Rights Database</h1>

    <% if (first) { %>
        <p>Welcome to the Diminished Rights Database. This is the first time this site has been loaded since the last terminal reset.</p>
    <% } else { %>
        <p>This is the <%- num %> of this site since the last terminal reset, at <%- terminalDate %>.</p>
        <p>Either that, or this page hasn't been reloaded for a long time, and is outdated.</p>
    <% } %>

</body>
</html>